%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4= "TEST"
          %p= "blabla"
        .col-right.fr
          %p
            %strong= "WON"
            %br
            = "XXX$ for"
            %br
            %span
              %span.brown= "TOPIC"
            %br
        .cl  
