.box
  .box-b
    .box-t
      .user-info.fl
        %a{:href => "#"}
          %img.member-pic{:style => "height:48px;width:48px;border-width:0px;", :src => "https://acdcstorage.blob.core.windows.net/userimages/profilekenji776038c1f86-598e-4488-a13d-02ff065ebe17_th_100.jpg", :id =>"ctl00_Body_MemberListView_ctrl0_imgMember"}
            .text-holder
              %h4
                %a{:href => "profile.html?username=Kenji776"}
                  = member["Name"]
                %span.stats
                  = "Following:"
                  = "0"
                  = "Active:"
                  = "0"
                  = "# of Wins:"
                  = "11"
            .cl= " "
      .user-desc.fr
        %p
          %strong= "About Me:"
          = "Just a young punk programmer hacking it out one line at a time. I work full time at Food Perspective in Minnesota. When I'm not mashing a keyboard you'll probably find me in the gym, or in front of a grill. I also dig philosophy, beer brewing, camping and martial arts."
          %a{:href => "profile.html?username=Kenji776"}= "View Profile"
      .cl= " "
